#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f8f9fa;
}

img {
  width: 500px;
}

.home-section {
  text-align: center;
  padding: 2rem;
  background-color: #f8f9fa;
}

.home-content {
  margin-bottom: 2rem;
}

.home-title {
  font-size: 2.5rem;
  color: #343a40;
  margin: 0;
  line-height: 1.2;
}

.home-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home-description {
  font-size: 1.1rem;
  color: #495057;
  max-width: 800px;
  margin: 0 auto 2rem;
}

.home-subtitle {
  font-size: 2rem;
  color: #343a40;
  margin-bottom: 1rem;
}

.home-features {
  list-style: none;
  padding: 0;
  margin: 0 auto 2rem;
  max-width: 600px;
  font-size: 1.1rem;
  color: #495057;
}

.home-features li {
  margin-bottom: 0.5rem;
}

.home-call-to-action {
  font-size: 1.3rem;
  color: #343a40;
  margin-bottom: 1.5rem;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.home-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
  gap: 16px; /* Space between items */
  padding: 16px;
  box-sizing: border-box;
}

.product_card {

  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product_card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product_card button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  margin: 8px 0;
  padding: 0;
}

.product_card button:hover {
  text-decoration: underline;
}